In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [2]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [4]:
import pandas as pd
orders_df = pd.read_csv('orders.csv',na_values = ['Not Available','unknown',0])

In [5]:
orders_df.isna().sum()

Order Id              0
Order Date            0
Ship Mode             6
Segment               0
Country               0
City                  0
State                 0
Postal Code           0
Region                0
Category              0
Sub Category          0
Product Id            0
cost price          507
List Price          507
Quantity              0
Discount Percent      0
dtype: int64

In [6]:
orders_df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [7]:
orders_df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [8]:
#orders_df.rename(columns = {}) good for 1 or 2 columns not very efficient.

In [9]:
# We have to assign whatever manipulation done back to that object, like df.columns need to be assigned to the manipulation.
orders_df.columns = orders_df.columns.str.lower()
orders_df.columns = orders_df.columns.str.replace(" ","_")

In [10]:
orders_df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [11]:
orders_df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240.0,260.0,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600.0,730.0,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10.0,10.0,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780.0,960.0,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20.0,20.0,2,5

In [25]:
#converting object datattype to date with help of datetime library
import datetime as dt
orders_df["order_date"] = pd.to_datetime(orders_df["order_date"],format = '%Y-%m-%d')

In [13]:
type(orders_df["order_date"].iloc[0])

datetime.date

In [14]:
orders_df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240.0,260.0,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600.0,730.0,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10.0,10.0,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780.0,960.0,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20.0,20.0,2,5

# Derive Sale Price, Discount, Profit

In [16]:
orders_df['discount'] = orders_df['list_price'] * orders_df['discount_percent'] * 0.01

In [17]:
orders_df['discount'].head()

0     5.2
1    21.9
2     0.5
3    19.2
4     1.0
Name: discount, dtype: float64

In [18]:
orders_df['sale_price'] = orders_df['list_price'] - orders_df['discount']

In [20]:
orders_df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240.0,260.0,2,2,5.2,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600.0,730.0,3,3,21.9,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10.0,10.0,2,5,0.5,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780.0,960.0,5,2,19.2,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20.0,20.0,2,5,1.0,19.0

In [23]:
orders_df['profit'] = orders_df['sale_price'] - orders_df['cost_price']

In [24]:
orders_df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240.0,260.0,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600.0,730.0,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10.0,10.0,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780.0,960.0,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20.0,20.0,2,5,1.0,19.0,-1.0

In [26]:
orders_df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                 float64
list_price                 float64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [28]:
orders_df.drop(columns = ['list_price','cost_price','discount_percent'], inplace = True)

In [37]:
orders_df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')

Here, we are loading the dataframe to the SQL server, so that we can run some queries and do analysis on it.

In [ ]:
import sqlalchemy as sal
url = "mssql://OMEN\SQLEXPRESS/ORDERS?driver=ODBC+DRIVER+17+FOR+SQL+SERVER"

In [34]:
engine = sal.create_engine(url)
conn = engine.connect()

In [41]:
orders_df.to_sql(name = 'orders_retail',con = engine, if_exists = 'replace',index = False)

-1

Pandas creates the table with max data types like varchar(max), bigint, and this will take more memory everytime, so we will use append option here, which is better suited in this case. So we will create a empty table on our own in the database, and then append all the data to the existing table.

In [42]:
orders_df.to_sql(name = 'df_orders',con = engine, if_exists = 'append',index = False)

DataError: (pyodbc.DataError) ('22003', '[22003] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Arithmetic overflow error converting float to data type numeric. (8115) (SQLExecDirectW); [22003] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)')
[SQL: INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit, final_sale_price) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: ((1, datetime.datetime(2023, 3, 1, 0, 0), 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Bookcases', 'FUR-BO-10001798', 2, 5.2, 254.8, 14.800000000000011, 509.6), (2, datetime.datetime(2023, 8, 15, 0, 0), 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Chairs', 'FUR-CH-10000454', 3, 21.900000000000002, 708.1, 108.10000000000002, 2124.3), (3, datetime.datetime(2023, 1, 10, 0, 0), 'Second Class', 'Corporate', 'United States', 'Los Angeles', 'California', 90036, 'West', 'Office Supplies', 'Labels', 'OFF-LA-10000240', 2, 0.5, 9.5, -0.5, 19.0), (4, datetime.datetime(2022, 6, 18, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', 33311, 'South', 'Furniture', 'Tables', 'FUR-TA-10000577', 5, 19.2, 940.8, 160.79999999999995, 4704.0), (5, datetime.datetime(2022, 7, 13, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', 33311, 'South', 'Office Supplies', 'Storage', 'OFF-ST-10000760', 2, 1.0, 19.0, -1.0, 38.0), (6, datetime.datetime(2022, 3, 13, 0, 0), None, 'Consumer', 'United States', 'Los Angeles', 'California', 90032, 'West', 'Furniture', 'Furnishings', 'FUR-FU-10001487', 7, 1.5, 48.5, -1.5, 339.5), (7, datetime.datetime(2022, 12, 28, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Los Angeles', 'California', 90032, 'West', 'Office Supplies', 'Art', 'OFF-AR-10002833', 4, 0.3, 9.7, -0.3000000000000007, 38.8), (8, datetime.datetime(2022, 1, 25, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Los Angeles', 'California', 90032, 'West', 'Technology', 'Phones', 'TEC-PH-10002275', 6, 45.5, 864.5, 4.5, 5187.0)  ... displaying 10 of 9994 total bound parameter sets ...  (9993, datetime.datetime(2022, 11, 19, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Costa Mesa', 'California', 92627, 'West', 'Office Supplies', 'Paper', 'OFF-PA-10004041', 4, 0.9, 29.1, -0.8999999999999986, 116.4), (9994, datetime.datetime(2022, 7, 17, 0, 0), 'Second Class', 'Consumer', 'United States', 'Westminster', 'California', 92683, 'West', 'Office Supplies', 'Appliances', 'OFF-AP-10002684', 2, 7.2, 232.8, 22.80000000000001, 465.6))]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [39]:
orders_df['final_sale_price'] = orders_df['sale_price'] * orders_df['quantity']

In [43]:
orders_df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit',
       'final_sale_price'],
      dtype='object')

In [45]:
orders_df.to_sql(name = 'df_orders',con = engine, if_exists = 'append',index = False)

-1